<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='public/stylesheets/main.css' />
  <script type='text/javascript' src='public/javascripts/jquery-1.8.3.js'></script>
  </head>
  <body>
  	<div class="container">
  		<form id="rform" action="/register" method="post">
  			<h2>注册</h2>
  			<input class="register-input" type="type" name="name" placeholder="使用自己的qq号"/>
  			<i class="icon-qq absleft6top70"></i>
  			<input class="register-input" type="password" name="password" placeholder="密码" />
  			<i class="icon-unlock-alt absleft6top124"></i>
  			<input class="register-input" type="password" name="repassword" placeholder="重新输入密码"/>
  			<i class="icon-unlock-alt absleft6top178"></i>
  			<input type="submit" id="rsubmit"/>
  		</form>
  	</div>
  </body>
</html>